.ProductData{
    width: 100%;
  }   
 
  .ProductTitle{
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
   }
 
   .ProductDescription{
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-top: 0;
    margin-bottom: 16px;
   }
   .ProductImage{
   width: 100%;  
   max-width: 80px;
 
   border: 2px solid transparent;
   border-radius: 8px;
   margin-right: 12px;
   cursor: pointer;
   }
 
   .SelectedProductImage{
     border: 2px solid teal;
   }
   .FeatureItems{
     min-width: 80px;
     background-color: gainsboro;
     border-radius: 8px;
     border: 0;
     text-align: center;
     margin-right: 12px ;
     cursor: pointer;
     box-sizing: content-box;
 
     padding: 12px 24px;
     font-weight: 600;
 
   }
   .SelectedFeatureItems{
     color: white;
     background-color: grey;
     border: 2px solid black;
   }
 
   .PrimaryButton{
    color: white;
    background-color: teal;
    border: 5px groove goldenrod;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 24px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
   }